	<table class="table" id="myTable1">
		<thead>
			<tr>
					<th scope="col">Sno.</th>
			    <th scope="col">Doman of study</th>
			    <th scope="col">Name of board</th>
			    <th scope="col">Complete in</th>
			    <th scope="col">Grade</th>
			    <th scope="col">Note</th>
			    <th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for Data in data %}
			<tr>
					<td>{{forloop.counter}}</td> 
					<td>{{Data.doman_of_study}}</td>
					<td>{{Data.name_of_board}}</td>
					<td>{{Data.complete_in}}</td>
					<td>{{Data.grade}}</td>
					<td>{{Data.note}}</td>
					<td>
						<a  onclick="Delete('{{Data.id}}','AcademicsMast','academicsTable','/hrd/delete_details/{{id}}','academicTable.html')"	 class="fa fa-trash mr-1"></a>
	          <a href="showTabs/main/{{users.id}}"  class="fa fa-eye"></a>
					</td>
				</tr>
		</tbody>		
			{% endfor %}
		</table>
		 <!-- DataTable Css -->
		 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/> 
		<!-- Datatable JS -->
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<script >
	$(document).ready( function () {
    $('#myTable1').DataTable();
} );
</script>