	<table class="table" id="myTable1">
		<thead>
			<tr>
					<th scope="col">Sno.</th>
			    <th scope="col">Account Holder Name</th>
			    <th scope="col">Account Number</th>
			    <th scope="col">Bank Name</th>
			    <th scope="col">IFSC Code</th>
			    <th scope="col">Branch</th>
			    <th scope="col">Note</th>
			    <th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for Data in data %}
			<tr>
					<td>{{forloop.counter}}</td>
					<td>{{Data.accou_hol_name}}</td>
					<td>{{Data.accou_num}}</td>
					<td>{{Data.bank_name}}</td>
					<td>{{Data.ifsc_code}}</td>
					<td>{{Data.branch}}</td>
					<td>{{Data.note}}</td>
					<td>
						<a  onclick="Delete('{{Data.id}}','BankDetails','academicsTable','/hrd/delete_details/{{id}}','bankinfoRefresh.html')" class="fa fa-trash mr-1"></a>
	          <a href="showTabs/main/{{users.id}}"  class="fa fa-eye"></a>
					</td>
				</tr>
		</tbody>		
			{% endfor %}
		</table>
		 <!-- DataTable Css -->
		 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/> 
		<!-- Datatable JS -->
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<script >
	$(document).ready( function () {
    $('#myTable1').DataTable();
} );
</script>