{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card mt-5 ml-3 mr-3 overflow-hidden">
            	<div class="mt-5 mb-5 ml-3 mr-3">
	            	<table class="table table-stripped table-bordered dataTable no-footer">
	            		<tr>
	            			<th>SN.</th>
	            			<th>Employee Name</th>
	            			<th>Employee Code</th>
	            			<th>Grade Code</th>
	            			<th>Designation</th>
	            			<th>Leaves</th>
	            			<th>Actions</th>
	            		</tr>
	            		<tr>
	            			<td>SN.</td>
	            			<td>Employee Name</td>
	            			<td>Employee Code</td>
	            			<td>Grade Code</td>
	            			<td>Designation</td>
	            			<td>Leaves</td>
	            			<td>Actions</td>
	            		</tr>

	            	</table>
	            </div>                
            </div>
        </div>
    </div>    
</div>

{% endblock content %}   