<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Bootstrap 4 Login/Register Form</title>
</head>
<body>
    <div id="logreg-forms" class="container">
        <form class="form-signin" method="post" action="{% url 'save_emplyee' %}">
            {% csrf_token %} 
            <div class="row ml-2 mt-5">
            {% for field in form %} 	           
                <div class="col-sm-4 mb-3">
                    {{field.label_tag}}
                    <input id="inputEmail" name="{{field.name}}" class="form-control" placeholder="" autofocus="">
                    <p style="" class="">{{field.errors}}</p>
                </div>
	           	
            {% endfor %}            
        </div>
            <!-- <p>Don't have an account!</p>  -->
            <div class="row">
            	<div class="col-sm-12 text-center">
            		<input value="Sign up" class="btn btn-primary" type="submit" id="btn-signup">
            	</div>
            </div>
            </form>
            <br>
            
    </div>    
</body>
</html>

<style type="text/css">
    .errorlist li {
        color: red; 
        font-size:10px
    }
</style>