<form method="post" id="document">
  {% csrf_token %} 
  <div class="row ml-2 mt-5 ">  
      <div class="col-md-1"></div> 
      <div class="col-md-12">
          <div class="row formBox">                         
              <div class="col-md-6">
                  <label>{{form.document_title.label}}</label>
                  <input id="inputEmail" name="{{form.document_title.name}}" class="form-control" placeholder="" autofocus="">
                  <p style="" class="text-denger">{{form.document_title.errors}}</p>
              </div>
              <div class="col-md-6">
                  <label>{{form.document_status.label}}</label>
                  <select name="{{form.document_status.name}}" class="form-control">
                    {% for value, text in form.document_status.field.choices %}
                      <option value="{{ value }}"> {{text}}</option>                     
                   {% endfor %}      
                 </select>
                  <p style="" class="text-denger">{{form.document_status.errors}}</p>
              </div> 

              <div class="col-md-12">
                  <label>{{form.note.label}}</label>
                  <textarea id="inputEmail" name="{{form.note.name}}" class="form-control" placeholder="" autofocus=""></textarea>
                  <p style="" class="text-denger">{{form.note.errors}}</p>
              </div>           
              <div class="col-md-6">
                  <label>{{form.files.label}}</label>
                  <input type="file" id="inputEmail" name="{{form.files.name}}" class="form-control" placeholder="" autofocus="">
                  <p style="" class="text-denger">{{form.files.errors}}</p>
              </div>      
              <div class="col-md-12 text-center mb-4">
                  <input type="submit" value="Submit" class="btn btn-primary">
              </div>
          </div>
      </div> 
  </div>
</form>
<div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col-sm-10">
      <div class="table-responsive" id="academicsTable"> 
        <table class="table" id="myTable1">
        <thead>
          <tr>
              <th scope="col">Sno.</th>
              <th scope="col">Document title</th>
              <th scope="col">Document Status</th>
              <th scope="col">Note</th>
              <th scope="col">File</th>         
              <th scope="col">Action</th>         
          </tr>
        </thead>
        <tbody>
          {% for Data in data %}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{Data.document_title}}</td>
              <td>{{Data.document_status}}</td>
              <td>{{Data.note}}</td>
              <td></td>
              <td>
                <!-- this Delete(id,model_name,refresh_table_id,url,viewname) -->
                <a onclick="Delete('{{Data.id}}','Document','academicsTable','/hrd/delete_details/{{id}}','documentRefresh.html')" class="fa fa-trash mr-1"></a>
                <a href="showTabs/main/{{users.id}}"  class="fa fa-eye"></a>
              </td>
            </tr>
        </tbody>    
          {% endfor %}
    </table>
    </div>  
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
<script type="text/javascript">
  let befourAjax =   $.ajaxSetup({ 
                     beforeSend: function(xhr, settings) {
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             // Only send the token to relative URLs i.e. locally.
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                               }
                           } 
                      });
  $(document).ready(function(){
     $('#datepicker').datepicker({dateFormat: 'yy-mm-dd' });
  });
  $(document).on('submit','#document',function(event){
    event.preventDefault()
    var id = $('#userId').val();  
    befourAjax
    $.ajax({
        type:'POST',
        url:'/hrd/showTabs/document/'+id,
        processData: false,
        contentType: false,
        enctype: 'multipart/form-data',
        data:new FormData($('#document').get(0)),
        success:function(data, textStatus, xhr){
          if(xhr.status == 200){
            $.notify("Data Save", "success");
            $('#academicsTable').html(data)
          }
          if(xhr.status != 200 || xhr.status == 202 ){
            $('#showForms').html(data)
          }
        }
    })
  })

</script>